<div>
    <h2>Horoscope?</h2>
    <br>
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
        <div>
            <label for="cars" >Choose a category:</label>
                <select id="category" name="name" ngModel>
                    <option value="aries">Aries (March,21 - April,20)</option>
                    <option value="taurus">Taurus (April,21 - May,21)</option>
                    <option value="gemini">Gemini (May,22 - June,21)</option>
                    <option value="cancer">Cancer (June,22 - July,22)</option>
                    <option value="leo">Leo (July,23 - August,23)</option>
                    <option value="virgo">Virgo (August,24 - Semptember,22)</option>
                    <option value="libra">Libra (September,23 - October,23)</option>
                    <option value="scorpio">Scorpio (October,24 - November,22)</option>
                    <option value="sagittarius">Sagittarius (November,23 - December,21)</option>
                    <option value="capricorn">Capricorn (December,22 - January,20)</option>
                    <option value="aquarius">Aquarius (January,21 - February,18)</option>
                    <option value="pisces">Pisces (February,19 - March,20)</option>
                </select>

            <button >Submit</button>
        </div>
    </form>
</div>

<div>
    <h5>Date</h5>
    <p>{{ horoscopeDate }}</p>

    <h4>Sun sign: </h4>
    <p>{{ horoscopeSign }}</p>

    <h4>Horoscope: </h4>
    <p>{{ horoscopeRes }}</p>
    
</div>

